//	███    ██  ██████  ██████  ███    ███  █████  ██      ██ ███████ ███████
//	████   ██ ██    ██ ██   ██ ████  ████ ██   ██ ██      ██    ███  ██
//	██ ██  ██ ██    ██ ██████  ██ ████ ██ ███████ ██      ██   ███   █████
//	██  ██ ██ ██    ██ ██   ██ ██  ██  ██ ██   ██ ██      ██  ███    ██
//	██   ████  ██████  ██   ██ ██      ██ ██   ██ ███████ ██ ███████ ███████
// 
//	#normalize
@import 'node_modules/normalize-scss/sass/normalize';
@include normalize();

//	██    ██ ████████ ██ ██      ███████
//	██    ██    ██    ██ ██      ██
//	██    ██    ██    ██ ██      ███████
//	██    ██    ██    ██ ██           ██
//	 ██████     ██    ██ ███████ ███████
//
//	#utils
@import 'node_modules/@egml/utils/utils';
// $utils-namespace: 'project';
// $utils-media: 'mobile' 'desktop' 'tv';
// $utils-media-breakpoint: (
// 	'mobile-desktop': 640,
// 	'desktop-tv': 1300,
// );
$utils-text-size: 14;
// @import 'node_modules/@egml/utils/preset-basic';
@import 'node_modules/@egml/utils/preset-website';

@import '../dist/panel';

